@import url('https://fonts.googleapis.com/css?family=Cabin|Open+Sans');

:root {
    --primary-color: #252526;
    --primary-light-color: #353637;
    --blue-color: #70C1DF;
    --dull-blue-color: #547C83;
    --main-font-color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Cabin', sans-serif;
    color: var(--main-font-color);
}


/*NAVBAR STYLE START*/
.navbar {
    fill: var(--primary-color);
    color: var(--main-font-color);
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    font-family: 'Cabin', sans-serif;
    color: var(--main-font-color);
}
.navbar-brand:hover {
    color: var(--blue-color);
}

.navbar-toggler {
    border: none;
    color: var(--main-font-color) !important;
}

.navbar-toggler:hover {
    border: none;
    color: var(--blue-color) !important;
}

.navbar-toggler-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li.nav-item {
    padding-right: 15px;
}

ul li a.nav-link {
     color: var(--main-font-color);
}

ul li a.nav-link:hover {
    color: var(--blue-color);
}
/*NAVBAR STYLE END*/


/*HOME STYLING START*/
.home-body {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.home-body .container {
    padding: 3rem;
    border-radius: 10px;
    border-color: white;
    background-color: var(--primary-light-color);
    -webkit-box-shadow: 18px 18px 21px -2px rgba(0,0,0,0.41);
    -moz-box-shadow: 18px 18px 21px -2px rgba(0,0,0,0.41);
    box-shadow: 18px 18px 21px -2px rgba(0,0,0,0.41);
}

.welcome-head {
    color: var(--main-font-color);
    font-family: 'Cabin', sans-serif;
}

#login-btn,
#register-btn {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

#login-btn, #register-btn {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: var(--main-font-color);
    height: 2em;
    width: 6em;
    background-color: #738bdc;
    background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
    border: none;
    border-radius: 50px;
}

#login-btn:focus, #register-btn:focus{
    outline: 0;
}


#login-btn:hover, #register-btn:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.guest-continue {
    padding-top: 10px;
    color: #fff;
    font-size: 12px;
}

.guest-continue:hover {
    cursor: pointer;
    color: rgb(112, 193, 223);
    text-decoration: none;
}
/*HOME STYLING END*/


/*ADS CARD STYLING START*/
.card {
    -webkit-box-shadow: 18px 18px 21px -2px rgba(0,0,0,0.20);
    -moz-box-shadow: 18px 18px 21px -2px rgba(0,0,0,0.20);
    box-shadow: 18px 18px 21px -2px rgba(0,0,0,0.20);
    border-radius: 10px;
}

img .card-img-top {
    border: 0;
}

.card-title {
    font-family: 'Cabin', sans-serif;
}

.update-button,
.delete-button {
    font-size: 15px;
    color: var(--main-font-color);
    background: none;
    border: 1px var(--blue-color) solid;
    border-radius: 50px;
    height: 2rem;
    width: 7rem;
}

.update-button:hover,
.delete-button:hover {
    transform: scale(1.01);
    border: 0;
    background-color: #738bdc;
    background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
}

.update-button:focus,
.delete-button:focus,
.contact:focus,
.close:focus,
.navbar-toggler:focus {
    outline: 0;
}

.card,
.card-body,
.card-footer {
    border: none;
    color: var(--main-font-color);
    background-color: var(--primary-light-color);
}

.ad-image {
    border: none;
    display: block;
    max-height: 100%;
    max-width: 100%;
}
/*ADS STYLING END*/


/*MODAL STYLING START*/
.modal-body, .modal-header, .modal-desc-container {
    background-color: var(--primary-light-color);
}

.modal-header button.close {
     color: var(--main-font-color);
}

.modal-header button.close:hover {
    color: var(--blue-color);
}

.modal-desc-container, .modal-image {
    overflow: hidden;
}

.contact {
    color: #000;
    font-size: 15px;
    background: none;
    border: 1px var(--blue-color) solid;
    border-radius: 50px;
    height: 2rem;
    width: 7rem;
}

.contact:hover {
    transform: scale(1.01);
    border: 0;
    background-color: #738bdc;
    background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
}
/*MODAL STYLING END*/

/*LOGIN STYLING START*/
i.fa-user{
    color: var(--main-font-color);
}

i.fa-sign-in-alt{
    color: var(--main-font-color);
}

.login-container{
    border-radius: 5px;
    padding: 5px;
    background-color: var(--primary-light-color);
}

#username, #password, #confirm_password, #email, #zipcode, #title, #price, .custom-dropdown {
    background-color: var(--primary-color);
    color: var(--main-font-color);
    border: 1px var(--blue-color) solid ;
    border-radius: 50px;
}

#description {
    background-color: var(--primary-color);
    color: var(--main-font-color);
    border: 1px var(--blue-color) solid ;
    border-radius: 10px;
    height: 15rem;
    width: 21rem;
}

.dropdown-menu {
    background-color: var(--primary-color);
    color: var(--main-font-color);
    border: 1px var(--blue-color) solid ;
    border-radius: 10px;
    width: 10rem;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea[type=text]:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

/*input[type=text]:visited, input[type=password]:visited, input[type=email]:visited{*/
/*    background-color: var(--primary-color);*/
/*    color: var(--main-font-color);*/
/*}*/

input[type=text], input[type=password], input[type=email], textarea[type=text] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0;
    border: 1px solid #DDDDDD;
}

::placeholder{
    color: var(--main-font-color);
}
::-webkit-input-placeholder { /* Edge */
    color: var(--main-font-color);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--main-font-color);
}

.submit {
    cursor: pointer;
    height: 2em;
    width: 6em;
    background-color: var(--primary-color);
    border-radius: 50px;
    border: 1px solid var(--blue-color);
    color: var(--main-font-color);
}

.photo-upload{
    cursor: pointer;
    height: 2em;
    width: 12em;
    background-color: var(--primary-color);
    border-radius: 50px;
    border: 1px solid var(--blue-color);
    color: var(--main-font-color);
}


.submit:hover, .photo-upload:hover {
    transform: scale(1.02);
    border: 0;
    background-color: #738bdc;
    background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.submit:focus{
    outline: 0;
}

.container .login-container,
.container .register-container,
.container .create-container{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    margin: 0;
}

.login-container,
.register-container,
.create-container {
    padding: 3rem;
    border-radius: 10px;
    border-color: white;
    background-color: var(--primary-color);
    -webkit-box-shadow: 18px 18px 21px -2px rgba(0,0,0,0.41);
    -moz-box-shadow: 18px 18px 21px -2px rgba(0,0,0,0.41);
    box-shadow: 18px 18px 21px -2px rgba(0,0,0,0.41);
}
/*LOGIN STYLING END*/

/*CREATE STYLING START*/
.dropdown-container ul li ul{
    max-height:200px;/* you can change as you need it */
    overflow:auto;/* to get scroll */
}

ul li {
    list-style: none;
}

ul li a:hover {
    text-decoration: none;
}

b .caret {
    transform: rotate(180deg);
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: var(--main-font-color) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--primary-color) inset !important;
}

/*CREATE STYLING END*/